[submodule "i18n"]
	path = scripts/i18n
	url = https://gerrit.wikimedia.org/r/pywikibot/i18n
	branch = master
	ignore = all
[submodule "fawikibot"]
	path = fawikibot
	url = https://github.com/PersianWikipedia/fawikibot
	branch = .
	ignore = all
